
.container {
    height: fit-content;
    position: absolute;
    z-index: 200;
    top: 60px;
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    max-height: 60vh;
    overflow-y: scroll;
    .option {
        padding: 10px;
        cursor: pointer;
        &:hover, &:focus {
            background-color: rgb(231, 253, 255);
            color:rgb(0, 109, 117);
        }
    }
}

@media (max-width: 600px) {
    .container {
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.container_soft {
    background-color: white;
    color: black;
}
.container_code {
    background-color: black;
    color: white;
}